# 12 MHz clock
set_io -nowarn clk        35

# RS232
set_io -nowarn RX          6
set_io -nowarn TX          9

# LEDs and Button
set_io -nowarn reset_n      10
set_io -nowarn LEDR_N     11
set_io -nowarn LEDG_N     37

# pmod buttons
set_io -nowarn ui_in[0]       20
set_io -nowarn ui_in[1]       19
set_io -nowarn ui_in[2]       18

# RGB LED Driver
set_io -nowarn uo_out[0]  27
set_io -nowarn uo_out[1]  25
set_io -nowarn uo_out[2]  21

# SPI Flash
set_io -nowarn FLASH_SCK  15
set_io -nowarn FLASH_SSB  16
set_io -nowarn FLASH_IO0  14
set_io -nowarn FLASH_IO1  17
set_io -nowarn FLASH_IO2  12
set_io -nowarn FLASH_IO3  13

# PMOD 1A
set_io -nowarn uio_oe[7]        4
set_io -nowarn uio_oe[6]        2
set_io -nowarn uio_oe[5]       47
set_io -nowarn uio_oe[4]       45
set_io -nowarn uio_oe[3]        3
set_io -nowarn uio_oe[2]       48
set_io -nowarn uio_oe[1]       46
set_io -nowarn uio_oe[0]      44

# PMOD 1B
set_io -nowarn uo_out[7]       43
set_io -nowarn uo_out[6]       38
set_io -nowarn uo_out[5]       34
set_io -nowarn uo_out[4]       31
set_io -nowarn uo_out[3]       42

# LEDs and Buttons (PMOD 2)
#set_io -nowarn LED1       27
#set_io -nowarn LED2       25
#set_io -nowarn LED3       21
#set_io -nowarn LED5       26
#set_io -nowarn LED4       23
#set_io -nowarn BTN1       20
#set_io -nowarn BTN2       19
#set_io -nowarn BTN3       18

